### pandas Series

1. Create pandas series with different data types in different ways
2. Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100
3. create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.
4. What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.
5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [1]:
#Create pandas series with different data types in different ways

import pandas as pd
import numpy as np

In [2]:
#using list
list1 = list(range(1,10))

In [3]:
pd.Series(list1)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [4]:
#using tuple
tup = (1,2,3,4,5,6,7,8,9)

In [5]:
pd.Series(tup)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [6]:
#using dictionary
dict1 = {'A': "Data Analysis", 'B': "Data Science", 'C': "SQl", 'D': "Tableau"}

In [7]:
pd.Series(dict1)

A    Data Analysis
B     Data Science
C              SQl
D          Tableau
dtype: object

In [8]:
#Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

a = [10,30,40,1,3,6,14,18,23] 
b = len(a)

In [9]:
a = pd.Series(a,index = list(range(100,100+b)))

In [10]:
a

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [13]:
a.dtype

dtype('int64')

In [14]:
a.size

9

In [15]:
a.head(3)

100    10
101    30
102    40
dtype: int64

In [16]:
a.tail(4)

105     6
106    14
107    18
108    23
dtype: int64

In [19]:
a.memory_usage()

144

In [20]:
a.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [22]:
a.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [23]:
#create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.


salary = np.random.randint(30000,90000,30)
salary

array([34279, 38080, 61048, 85313, 33311, 52837, 51356, 53744, 88682,
       46002, 52459, 32399, 39341, 56343, 43548, 31330, 75856, 69782,
       73730, 76134, 39552, 44090, 53005, 82984, 77849, 63928, 35173,
       49021, 70674, 74763])

In [24]:
salary = pd.Series(salary,index = list(range(1,30+1)))
salary

1     34279
2     38080
3     61048
4     85313
5     33311
6     52837
7     51356
8     53744
9     88682
10    46002
11    52459
12    32399
13    39341
14    56343
15    43548
16    31330
17    75856
18    69782
19    73730
20    76134
21    39552
22    44090
23    53005
24    82984
25    77849
26    63928
27    35173
28    49021
29    70674
30    74763
dtype: int32

In [25]:
salary.mean()

56220.433333333334

In [26]:
salary.median()

52921.0

In [27]:
salary.mode()

0     31330
1     32399
2     33311
3     34279
4     35173
5     38080
6     39341
7     39552
8     43548
9     44090
10    46002
11    49021
12    51356
13    52459
14    52837
15    53005
16    53744
17    56343
18    61048
19    63928
20    69782
21    70674
22    73730
23    74763
24    75856
25    76134
26    77849
27    82984
28    85313
29    88682
dtype: int32

In [28]:
salary.var()

312071775.7022989

In [29]:
salary.std()

17665.55336530104

In [30]:
salary.describe()

count       30.000000
mean     56220.433333
std      17665.553365
min      31330.000000
25%      40551.000000
50%      52921.000000
75%      72966.000000
max      88682.000000
dtype: float64

In [31]:
salary_range = max(salary) - min(salary)
salary_range

57352

In [32]:
salary.quantile(0.25)

40551.0

In [33]:
salary.quantile(0.75)

72966.0

# What are the similaraties and differences between pandas series and numpy array.Prove it with code.


1. Numpy deals with numerical values only and its a homogenous.
2. Pandas deals with numerical values and string values and its a heterogenous.

In [34]:
salaries = np.array([1,2,3,4,5,6,7,8,9],ndmin = 3)
salaries   #numpy doesnt has index numbers

array([[[1, 2, 3, 4, 5, 6, 7, 8, 9]]])

In [35]:
salaries.ndim    #numpy is a n-dimensional

3

In [36]:
salary   #pandas series has index numbers for assigned values

1     34279
2     38080
3     61048
4     85313
5     33311
6     52837
7     51356
8     53744
9     88682
10    46002
11    52459
12    32399
13    39341
14    56343
15    43548
16    31330
17    75856
18    69782
19    73730
20    76134
21    39552
22    44090
23    53005
24    82984
25    77849
26    63928
27    35173
28    49021
29    70674
30    74763
dtype: int32

In [37]:
salary.ndim   #pandas series has 1-dimensional

1

In [45]:
# create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

num = list(range(100,150+1))
insl = pd.Series(num)

In [46]:
insl

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
50    150
dtype: int64

In [47]:
insl[48]   #indexing

148

In [49]:
insl[10:20:5]   #slicing

10    110
15    115
dtype: int64