* a. Kindly fill the missing values with
1. value
2. Statistical value
3. Filling  method

* B. Create pivot table for  position and average salary.
* C. Group the data using group by as per gender  and average age.

In [1]:
import pandas as pd
import numpy as np

In [98]:
df = pd.read_csv(r"C:\Users\m\DSpython\ethnic_diversity.csv")

In [16]:
df.head(10)

,Employee_Name,EmpID,Position,State,Zip,Gender,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
0,"Brown, Mia",1103024456,Accountant I,MA,1450.0,F,Married,US Citizen,Active,Admin Offices,674.28,28,Black or African American
1,"LaRotonda, William",1106026572,Accountant I,MA,1460.0,M,Divorced,US Citizen,Active,Admin Offices,674.28,50,NaN
2,"Steans, Tyrone",1302053333,Accountant I,MA,2703.0,M,Single,US Citizen,Active,Admin Offices,674.28,43,White
3,"Howard, Estelle",1211050782,Administrative Assistant,MA,2170.0,F,Married,US Citizen,Terminated for Cause,Admin Offices,NaN,44,White
4,"Singh, Nan",1307059817,Administrative Assistant,MA,2330.0,F,Single,US Citizen,Active,Admin Offices,61089.35,33,White
5,"Smith, Leigh Ann",711007713,Administrative Assistant,MA,1844.0,F,Married,US Citizen,Voluntarily Terminated,Admin Offices,32406.02,40,Asian
6,"Bunbury, Jessica",1504073368,Area Sales Manager,VA,21851.0,F,Married,Eligible NonCitizen,Voluntarily Terminated,Sales,62051.64,26,Black or African American
7,"Carter, Michelle",1403065721,Area Sales Manager,VT,5664.0,F,Single,US Citizen,Active,Sales,55912.50,25,White
8,"Dietrich, Jenna",1408069481,Area Sales Manager,WA,98052.0,F,Single,US Citizen,Active,Sales,15684.19,35,White
9,"Digitale, Alfred",1306059197,Area Sales Manager,NH,3062.0,M,Married,US Citizen,Active,Sales,33773.70,45,American Indian or Alaska Native

In [12]:
df.isna().sum()

Employee_Name        0
EmpID                0
Position             3
State                2
Zip                  2
Gender               7
MaritalDesc          9
CitizenDesc          3
EmploymentStatus     0
Department           5
Salaries            12
age                  0
Race                 9
dtype: int64

### Filling the missing values

In [13]:
df[df['Position'].isna()]

,Employee_Name,EmpID,Position,State,Zip,Gender,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
91,"Desimone, Carl",1501072124,NaN,MA,2061.0,M,NaN,US Citizen,Active,NaN,15736.71,26,White
95,"Kirill, Alexandra",903013071,NaN,MA,2127.0,F,Married,US Citizen,Voluntarily Terminated,Production,37619.00,44,White
151,"Engdahl, Jean",1007020403,NaN,NaN,2026.0,M,Single,US Citizen,Active,Production,49808.01,54,White

In [14]:
df['Position'].fillna('Accountant I',inplace = True)

In [15]:
df['Position'].isna().sum()

0

In [17]:
df[df['State'].isna()]

,Employee_Name,EmpID,Position,State,Zip,Gender,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
81,"Liebig, Ketsia",1103024679,Production Manager,NaN,2110.0,F,Married,US Citizen,Active,Production,28520.00,35,White
151,"Engdahl, Jean",1007020403,Accountant I,NaN,2026.0,M,Single,US Citizen,Active,Production,49808.01,54,White

In [18]:
df['State'].fillna('MA',inplace = True)

In [20]:
df['State'].isna().sum()

0

In [23]:
df['Zip'].fillna(2127.0,inplace = True)

In [24]:
df['Zip'].isna().sum()

0

In [25]:
df['Gender'].fillna('M',inplace = True)

In [26]:
df['Gender'].isna().sum()

0

In [27]:
df.isna().sum()

Employee_Name        0
EmpID                0
Position             0
State                0
Zip                  0
Gender               0
MaritalDesc          9
CitizenDesc          3
EmploymentStatus     0
Department           5
Salaries            12
age                  0
Race                 9
dtype: int64

In [28]:
df['MaritalDesc'].fillna('Single', inplace = True)

In [29]:
df['MaritalDesc'].isna().sum()

0

In [30]:
df['CitizenDesc'].fillna('US Citizen', inplace = True)

In [31]:
df['CitizenDesc'].isna().sum()

0

In [32]:
df['Department'].fillna('Sales', inplace = True)

In [33]:
df['Department'].isna().sum()

0

In [34]:
df.isna().sum()

Employee_Name        0
EmpID                0
Position             0
State                0
Zip                  0
Gender               0
MaritalDesc          0
CitizenDesc          0
EmploymentStatus     0
Department           0
Salaries            12
age                  0
Race                 9
dtype: int64

In [35]:
df['Salaries'].fillna(40808.0, inplace = True)

In [36]:
df['Salaries'].isna().sum()

0

In [37]:
df['Race'].fillna('White', inplace = True)

In [38]:
df['Race'].isna().sum()

0

In [39]:
df.isna().sum()

Employee_Name       0
EmpID               0
Position            0
State               0
Zip                 0
Gender              0
MaritalDesc         0
CitizenDesc         0
EmploymentStatus    0
Department          0
Salaries            0
age                 0
Race                0
dtype: int64

### fill the missing values with statistical value

In [43]:
df.head(55)

,Employee_Name,EmpID,Position,State,Zip,Gender,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
0,"Brown, Mia",1103024456,Accountant I,MA,1450.0,F,Married,US Citizen,Active,Admin Offices,674.28,28,Black or African American
1,"LaRotonda, William",1106026572,Accountant I,MA,1460.0,M,Divorced,US Citizen,Active,Admin Offices,674.28,50,NaN
2,"Steans, Tyrone",1302053333,Accountant I,MA,2703.0,M,Single,US Citizen,Active,Admin Offices,674.28,43,White
3,"Howard, Estelle",1211050782,Administrative Assistant,MA,2170.0,F,Married,US Citizen,Terminated for Cause,Admin Offices,NaN,44,White
4,"Singh, Nan",1307059817,Administrative Assistant,MA,2330.0,F,Single,US Citizen,Active,Admin Offices,61089.35,33,White
5,"Smith, Leigh Ann",711007713,Administrative Assistant,MA,1844.0,F,Married,US Citizen,Voluntarily Terminated,Admin Offices,32406.02,40,Asian
6,"Bunbury, Jessica",1504073368,Area Sales Manager,VA,21851.0,F,Married,Eligible NonCitizen,Voluntarily Terminated,Sales,62051.64,26,Black or African American
7,"Carter, Michelle",1403065721,Area Sales Manager,VT,5664.0,F,Single,US Citizen,Active,Sales,55912.50,25,White
8,"Dietrich, Jenna",1408069481,Area Sales Manager,WA,98052.0,F,Single,US Citizen,Active,Sales,15684.19,35,White
9,"Digitale, Alfred",1306059197,Area Sales Manager,NH,3062.0,M,Married,US Citizen,Active,Sales,33773.70,45,American Indian or Alaska Native
10,"Friedman, Gerry",1204032843,Area Sales Manager,NY,10171.0,M,Single,US Citizen,Active,Sales,58804.00,31,Two or more races
11,"Gill, Whitney",1302053046,Area Sales Manager,OH,43050.0,F,Widowed,US Citizen,Terminated for Cause,Sales,28827.21,43,Black or African American
12,"Gonzales, Ricardo",1411071481,Area Sales Manager,ID,83706.0,M,Married,US Citizen,Active,Sales,12907.33,28,White
13,"Guilianno, Mike",1001167253,Area Sales Manager,TN,37129.0,M,Single,US Citizen,Voluntarily Terminated,Sales,31404.10,48,Two or more races
14,"Leruth, Giovanni",1412071660,Area Sales Manager,UT,84111.0,M,Separated,US Citizen,Active,Sales,43796.00,52,Black or African American
15,"Mullaney, Howard",1306057978,Area Sales Manager,AL,36006.0,M,Single,US Citizen,Active,Sales,13645.80,50,Two or more races
16,"Ozark, Travis",812011761,Area Sales Manager,NC,27229.0,M,Single,US Citizen,Active,Sales,61795.00,34,White
17,"Strong, Caitrin",1411071295,Area Sales Manager,MT,59102.0,F,Married,US Citizen,Active,Sales,52748.20,24,Black or African American
18,"Valentin,Jackie",1312063714,Area Sales Manager,AZ,85006.0,F,Married,US Citizen,Active,Sales,29479.00,54,Two or more races
19,"Villanueva, Noah",1111030503,Area Sales Manager,ME,4063.0,M,Single,NaN,Active,Sales,25521.82,25,Asian
20,"Buck, Edward",1504073313,Area Sales Manager,MA,2330.0,M,Married,US Citizen,Active,Sales,35971.73,25,White
21,"Costa, Latia",1409070567,Area Sales Manager,CA,90007.0,F,Single,US Citizen,Active,Sales,NaN,50,White
22,"Fraval, Maruk",1411071302,Area Sales Manager,CT,6050.0,M,Single,US Citizen,Active,Sales,55990.40,34,NaN
23,"Givens, Myriam",1203032099,Area Sales Manager,IN,46204.0,F,Single,US Citizen,Active,Sales,96708.02,37,White
24,Jeremy Prater,1001084890,Area Sales Manager,NV,89139.0,M,Married,US Citizen,Active,Sales,37221.67,31,White
25,"Khemmich, Bartholemew",1104025008,Area Sales Manager,CO,80820.0,M,Single,US Citizen,Active,Sales,23776.82,53,White
26,"Martins, Joseph",1209048771,Area Sales Manager,TX,78207.0,NaN,Single,Eligible NonCitizen,Active,Sales,30817.00,45,Black or African American
27,"McKinzie, Jac",1209049326,Area Sales Manager,TX,78789.0,M,Married,US Citizen,Future Start,Sales,77246.36,30,Two or more races
28,"Nguyen, Dheepa",1111030684,Area Sales Manager,GA,30428.0,F,Single,US Citizen,Active,Sales,30137.04,33,Two or more races
29,"Onque, Jasmine",1501072180,Area Sales Manager,FL,33174.0,F,Single,NaN,Active,Sales,53196.72,38,White
30,"Potts, Xana",1102024106,Area Sales Manager,KY,40220.0,F,Married,US Citizen,Active,NaN,28919.00,54,Black or African American
31,"Riordan, Michael",1502072711,Area Sales Manager,ND,58782.0,M,Separated,US Citizen,Active,Sales,60434.67,48,White
32,"Terry, Sharlene",1401064637,Area Sales Manager,OR,97756.0,F,NaN,US Citizen,Active,Sales,36485.25,49,Black or African American
33,"Rachael, Maggie",1009919940,BI Developer,MA,2110.0,F,Married,US Citizen,Active,IT/IS,48086.32,47,Black or African American
34,"Smith, Jason",1009919980,BI Developer,MA,2045.0,M,Single,US Citizen,Active,IT/IS,33231.01,44,White
35,"Westinghouse, Matthew",1009919990,BI Developer,MA,2134.0,M,Married,US Citizen,Active,IT/IS,NaN,26,White
36,"Hubert, Robert",1009920000,BI Developer,MA,2134.0,M,Married,US Citizen,Active,IT/IS,31032.00,50,Black or African American
37,"Champaigne, Brian",1009919920,BI Director,MA,2045.0,M,Married,US Citizen,Active,IT/IS,4160.00,23,White
38,"Zamora, Jennifer",1112030816,CIO,MA,2067.0,F,Single,US Citizen,Active,IT/IS,26418.01,46,White
39,"Roper, Katie",1009919950,Data Architect,MA,2056.0,F,Single,US Citizen,Active,IT/IS,90016.01,29,Black or African American
40,"Becker, Renee",1102024056,Database Administrator,MA,2026.0,F,Single,US Citizen,Terminated for Cause,IT/IS,33102.77,24,White
41,"Goble, Taisha",905013738,Database Administrator,MA,2127.0,F,Single,US Citizen,Terminated for Cause,IT/IS,33464.25,46,White
42,"Hernandez, Daniff",1410071156,Database Administrator,MA,1960.0,M,Married,US Citizen,Terminated for Cause,IT/IS,15537.79,50,Black or African American
43,"Horton, Jayne",1105025718,Database Administrator,MA,2493.0,F,Single,US Citizen,Active,IT/IS,29188.15,27,White
44,"Johnson, Noelle",1003018246,Database Administrator,MA,2301.0,F,Married,US Citizen,Leave of Absence,IT/IS,57777.02,29,Asian
45,"Murray, Thomas",1406068403,Data Analyst,TX,78230.0,M,Divorced,US Citizen,Active,IT/IS,48017.21,26,Black or African American
46,"Pearson, Randall",1102023965,Data Analyst,MA,2747.0,M,Married,US Citizen,Voluntarily Terminated,IT/IS,40083.52,27,White
47,"Petrowsky, Thelma",1108027853,Data Analyst,MA,1886.0,F,Married,US Citizen,Active,NaN,58672.00,46,Asian
48,"Roby, Lori",1407068885,Data Analyst,MA,1886.0,F,NaN,US Citizen,Active,IT/IS,22721.00,23,White
49,"Rogers, Ivan",1203032255,Data Analyst,MA,1810.0,M,Married,US Citizen,Active,IT/IS,19161.70,23,White
50,"Salter, Jason",1111030148,Data Analyst,MA,2452.0,M,Divorced,US Citizen,Voluntarily Terminated,IT/IS,42304.75,37,Black or African American
51,"Simard, Kramer",808010278,Data Analyst,MA,2110.0,M,Married,US Citizen,Active,IT/IS,418.18,42,White
52,"Zhou, Julia",1110029732,Data Analyst,MA,2148.0,F,Single,US Citizen,Active,IT/IS,75337.01,41,White
53,"Bramante, Elisa",1006020066,Director of Operations,MA,2030.0,F,Single,US Citizen,Active,Production,NaN,51,Black or African American
54,"Houlihan, Debra",1009021646,Director of Sales,RI,2908.0,F,Married,US Citizen,Active,Sales,27595.70,32,White

In [44]:
df.isna().sum()

Employee_Name        0
EmpID                0
Position             3
State                2
Zip                  2
Gender               7
MaritalDesc          9
CitizenDesc          3
EmploymentStatus     0
Department           5
Salaries            12
age                  0
Race                 9
dtype: int64

In [47]:
df['Position'].mode()[0]

'Production Technician I'

In [48]:
df["Position"].fillna(df["Position"].mode()[0],inplace=True)

In [50]:
df['Position'].isna().sum()

0

In [53]:
df['State'].mode()[0]

'MA'

In [54]:
df['State'].fillna(df['State'].mode()[0],inplace = True)

In [59]:
df['State'].isna().sum()

0

In [60]:
df['Zip'].mode()[0]

1886.0

In [61]:
df["Zip"].fillna(df["Zip"].mode()[0],inplace=True)

In [62]:
df['Zip'].isna().sum()

0

In [63]:
df['Gender'].mode()[0]

'F'

In [64]:
df["Gender"].fillna(df["Gender"].mode()[0],inplace=True)

In [65]:
df['Gender'].isna().sum()

0

In [66]:
df['MaritalDesc'].mode()[0]

'Single'

In [67]:
df["MaritalDesc"].fillna(df["MaritalDesc"].mode()[0],inplace=True)

In [68]:
df['MaritalDesc'].isna().sum()

0

In [69]:
df['CitizenDesc'].mode()[0]

'US Citizen'

In [70]:
df["CitizenDesc"].fillna(df["CitizenDesc"].mode()[0],inplace=True)

In [71]:
df['CitizenDesc'].isna().sum()

0

In [72]:
df['Department'].mode()[0]

'Production       '

In [73]:
df["Department"].fillna(df["Department"].mode()[0],inplace=True)

In [74]:
df['Department'].isna().sum()

0

In [75]:
df['Salaries'].mode()[0]

674.28

In [76]:
df["Salaries"].fillna(df["Salaries"].mode()[0],inplace=True)

In [77]:
df['Salaries'].isna().sum()

0

In [78]:
df['Race'].mode()[0]

'White'

In [79]:
df["Race"].fillna(df["Race"].mode()[0],inplace=True)

In [80]:
df['Race'].isna().sum()

0

In [81]:
df.isna().sum()

Employee_Name       0
EmpID               0
Position            0
State               0
Zip                 0
Gender              0
MaritalDesc         0
CitizenDesc         0
EmploymentStatus    0
Department          0
Salaries            0
age                 0
Race                0
dtype: int64

### fill the missing values with filling Method

1. bfill
2. ffill

In [82]:
df.head(5)

,Employee_Name,EmpID,Position,State,Zip,Gender,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
0,"Brown, Mia",1103024456,Accountant I,MA,1450.0,F,Married,US Citizen,Active,Admin Offices,674.28,28,Black or African American
1,"LaRotonda, William",1106026572,Accountant I,MA,1460.0,M,Divorced,US Citizen,Active,Admin Offices,674.28,50,White
2,"Steans, Tyrone",1302053333,Accountant I,MA,2703.0,M,Single,US Citizen,Active,Admin Offices,674.28,43,White
3,"Howard, Estelle",1211050782,Administrative Assistant,MA,2170.0,F,Married,US Citizen,Terminated for Cause,Admin Offices,674.28,44,White
4,"Singh, Nan",1307059817,Administrative Assistant,MA,2330.0,F,Single,US Citizen,Active,Admin Offices,61089.35,33,White

In [84]:
df.isna().sum()

Employee_Name        0
EmpID                0
Position             3
State                2
Zip                  2
Gender               7
MaritalDesc          9
CitizenDesc          3
EmploymentStatus     0
Department           5
Salaries            12
age                  0
Race                 9
dtype: int64

In [86]:
df["Position"].fillna(method="bfill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\1127056499.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Position"].fillna(method="bfill",inplace=True)

In [87]:
df.isna().sum()

Employee_Name        0
EmpID                0
Position             0
State                2
Zip                  2
Gender               7
MaritalDesc          9
CitizenDesc          3
EmploymentStatus     0
Department           5
Salaries            12
age                  0
Race                 9
dtype: int64

In [88]:
df["State"].fillna(method="bfill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\3923456966.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["State"].fillna(method="bfill",inplace=True)

In [89]:
df["Zip"].fillna(method="bfill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\838756303.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Zip"].fillna(method="bfill",inplace=True)

In [90]:
df["Gender"].fillna(method="bfill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\3944061885.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Gender"].fillna(method="bfill",inplace=True)

In [91]:
df["MaritalDesc"].fillna(method="bfill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\178151227.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["MaritalDesc"].fillna(method="bfill",inplace=True)

In [92]:
df["CitizenDesc"].fillna(method="bfill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\1901394005.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["CitizenDesc"].fillna(method="bfill",inplace=True)

In [93]:
df["Department"].fillna(method="bfill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\3838463905.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Department"].fillna(method="bfill",inplace=True)

In [94]:
df["Salaries"].fillna(method="bfill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\1711028853.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Salaries"].fillna(method="bfill",inplace=True)

In [95]:
df["Race"].fillna(method="bfill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\1565456734.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Race"].fillna(method="bfill",inplace=True)

In [96]:
df.isna().sum()

Employee_Name       0
EmpID               0
Position            0
State               0
Zip                 0
Gender              0
MaritalDesc         0
CitizenDesc         0
EmploymentStatus    0
Department          0
Salaries            0
age                 0
Race                0
dtype: int64

### FFill

In [99]:
df.isna().sum()

Employee_Name        0
EmpID                0
Position             3
State                2
Zip                  2
Gender               7
MaritalDesc          9
CitizenDesc          3
EmploymentStatus     0
Department           5
Salaries            12
age                  0
Race                 9
dtype: int64

In [100]:
df["Position"].fillna(method="ffill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\581306545.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Position"].fillna(method="ffill",inplace=True)

In [101]:
df["State"].fillna(method="ffill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\3191397999.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["State"].fillna(method="ffill",inplace=True)

In [102]:
df["Zip"].fillna(method="ffill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\3627224060.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Zip"].fillna(method="ffill",inplace=True)

In [103]:
df["Gender"].fillna(method="ffill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\3895409172.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Gender"].fillna(method="ffill",inplace=True)

In [104]:
df["MaritalDesc"].fillna(method="ffill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\3124755822.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["MaritalDesc"].fillna(method="ffill",inplace=True)

In [105]:
df["CitizenDesc"].fillna(method="ffill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\3642993704.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["CitizenDesc"].fillna(method="ffill",inplace=True)

In [106]:
df["Department"].fillna(method="ffill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\2529467920.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Department"].fillna(method="ffill",inplace=True)

In [107]:
df["Salaries"].fillna(method="ffill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\81974517.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Salaries"].fillna(method="ffill",inplace=True)

In [108]:
df["Race"].fillna(method="ffill",inplace=True)

C:\Users\m\AppData\Local\Temp\ipykernel_11536\2191991060.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Race"].fillna(method="ffill",inplace=True)

In [109]:
df.isna().sum()

Employee_Name       0
EmpID               0
Position            0
State               0
Zip                 0
Gender              0
MaritalDesc         0
CitizenDesc         0
EmploymentStatus    0
Department          0
Salaries            0
age                 0
Race                0
dtype: int64

### B. Create pivot table for position and average salary.

In [110]:
df.pivot_table(values="Salaries",columns="Gender",aggfunc="mean")

Gender              F            M
Salaries  36531.04608  36418.365597

### C. Group the data using group by as per gender and average age.

In [114]:
df.groupby(by="Gender")["age"].mean()

Gender
F     38.659091
M     38.746269
Name: age, dtype: float64