### Data Description

Customer ID - Unique identifier for each customer
Age - Age of the customer
Gender - Gender of the customer (Male/Female)
Item Purchased - The item purchased by the customer
Category - Category of the item purchased
Purchase Amount (USD) - The amount of the purchase in USD
Location - Location where the purchase was made
Size - Size of the purchased item
Color - Color of the purchased item
Season - Season during which the purchase was made
Review Rating - Rating given by the customer for the purchased item
Subscription Status - Indicates if the customer has a subscription (Yes/No)
Shipping Type - Type of shipping chosen by the customer
Discount Applied - Indicates if a discount was applied to the purchase (Yes/No)
Promo Code Used - Indicates if a promo code was used for the purchase (Yes/No)
Previous Purchases - The total count of transactions concluded by the customer at the store, excluding the ongoing transaction
Payment Method - Customer's most preferred payment method
Frequency of Purchases - Frequency at which the customer makes purchases (e.g., Weekly, Fortnightly, Monthly)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r"C:\Users\m\DSpython\shopping.xlsx")

In [3]:
df.columns = df.columns.str.replace(" ","")

In [4]:
df.drop("CustomerID",axis = 1,inplace=True)

In [5]:
df.isnull().sum()

Age                     2
Gender                  5
ItemPurchased           4
Category                4
PurchaseAmount(USD)     0
Location                2
Size                    0
Color                   4
Season                  3
ReviewRating            2
SubscriptionStatus      2
ShippingType            0
DiscountApplied         7
PromoCodeUsed           7
PreviousPurchases       0
PaymentMethod           4
FrequencyofPurchases    3
dtype: int64

In [6]:
df["Age"].fillna(df["Age"].median(),inplace=True)

df["Gender"].fillna(df["Gender"].mode()[0],inplace=True)

df["ItemPurchased"].fillna(df["ItemPurchased"].mode()[0],inplace=True)

df["Category"].fillna(df["Category"].mode()[0],inplace=True)

df["Location"].fillna(df["Location"].mode()[0],inplace=True)

df["Color"].fillna(df["Color"].mode()[0],inplace=True)

df["Season"].fillna(df["Season"].mode()[0],inplace=True)

df["SubscriptionStatus"].fillna(df["SubscriptionStatus"].mode()[0],inplace=True)

df["DiscountApplied"].fillna(df["DiscountApplied"].mode()[0],inplace=True)

df["PromoCodeUsed"].fillna(df["PromoCodeUsed"].mode()[0],inplace=True)

df["PaymentMethod"].fillna(df["PaymentMethod"].mode()[0],inplace=True)

df["FrequencyofPurchases"].fillna(df["FrequencyofPurchases"].mode()[0],inplace=True)

In [7]:
df.dropna(axis=0,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2680 entries, 0 to 2681
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   2680 non-null   float64
 1   Gender                2680 non-null   object
 2   ItemPurchased         2680 non-null   object
 3   Category              2680 non-null   object
 4   PurchaseAmount(USD)   2680 non-null   int64
 5   Location              2680 non-null   object
 6   Size                  2680 non-null   object
 7   Color                 2680 non-null   object
 8   Season                2680 non-null   object
 9   ReviewRating          2680 non-null   float64
 10  SubscriptionStatus    2680 non-null   object
 11  ShippingType          2680 non-null   object
 12  DiscountApplied       2680 non-null   object
 13  PromoCodeUsed         2680 non-null   object
 14  PreviousPurchases     2680 non-null   int64
 15  PaymentMethod         2680 non-null   object
 16  FrequencyofPurchases  2680 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 376.9+ KB

### Outliers

In [9]:
df[(df["Age"]>100) | (df["Age"]<0)] = 35

In [10]:
df.drop(df[(df["ReviewRating"]>5) | (df["ReviewRating"]<0)].index,inplace=True)

### Duplicates

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.duplicated().sum()

0

### Type Casting

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2644 entries, 0 to 2667
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   2644 non-null   float64
 1   Gender                2644 non-null   object
 2   ItemPurchased         2644 non-null   object
 3   Category              2644 non-null   object
 4   PurchaseAmount(USD)   2644 non-null   int64
 5   Location              2644 non-null   object
 6   Size                  2644 non-null   object
 7   Color                 2644 non-null   object
 8   Season                2644 non-null   object
 9   ReviewRating          2644 non-null   float64
 10  SubscriptionStatus    2644 non-null   object
 11  ShippingType          2644 non-null   object
 12  DiscountApplied       2644 non-null   object
 13  PromoCodeUsed         2644 non-null   object
 14  PreviousPurchases     2644 non-null   int64
 15  PaymentMethod         2644 non-null   object
 16  FrequencyofPurchases  2644 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 371.8+ KB

In [14]:
df["Age"] = df["Age"].astype("float64")

df["ReviewRating"] = df["ReviewRating"].astype("float16")

df["PreviousPurchases"] = df["PreviousPurchases"].astype("int8")

df["PurchaseAmount(USD)"] = df["PurchaseAmount(USD)"].astype("int8")

### Variance Check

In [15]:
df.head()

,Age,Gender,ItemPurchased,Category,PurchaseAmount(USD),Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,46.0,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.900391,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,63.0,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.199219,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly

In [16]:
df.Age.var()

234.70148246474147

In [17]:
df.Gender.nunique()

df.drop("Gender",axis=1,inplace=True)

In [18]:
df.ItemPurchased.nunique()

25

In [19]:
df.Category.nunique()

4

In [20]:
df["PurchaseAmount(USD)"].var()

567.925853294433

In [21]:
df.Location.nunique()

50

In [23]:
df.Size.nunique()

4

In [24]:
df.Color.nunique()

25

In [25]:
df.Season.nunique()

4

In [26]:
df.ReviewRating.var()

0.5093

In [27]:
df.SubscriptionStatus.nunique()

2

In [28]:
df.ShippingType.nunique()

6

In [29]:
df.DiscountApplied.nunique()

2

In [30]:
df.PromoCodeUsed.nunique()

2

In [31]:
df.PreviousPurchases.var()

206.13516135734906

In [32]:
df.PaymentMethod.nunique()

6

In [33]:
df.FrequencyofPurchases.nunique()

7

In [34]:
df.head()

,Age,ItemPurchased,Category,PurchaseAmount(USD),Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases
0,55.0,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
2,50.0,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,46.0,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.900391,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,63.0,Shirt,Clothing,85,Montana,M,Gray,Fall,3.199219,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly

### Dummy variable

### One Hot Encoding

In [35]:
pd.get_dummies(df["Category"],dtype=int)

      Accessories  Clothing  Footwear  Outerwear
0               0         1         0          0
2               0         1         0          0
3               0         0         1          0
5               0         0         1          0
6               0         1         0          0
...           ...       ...       ...        ...
2663            0         0         1          0
2664            0         1         0          0
2665            1         0         0          0
2666            0         1         0          0
2667            0         0         1          0

[2644 rows x 4 columns]

In [36]:
pd.get_dummies(df["Size"],dtype=int)

      L  M  S  XL
0     1  0  0   0
2     0  0  1   0
3     0  1  0   0
5     0  1  0   0
6     0  1  0   0
...  .. .. ..  ..
2663  0  1  0   0
2664  0  1  0   0
2665  0  1  0   0
2666  1  0  0   0
2667  0  1  0   0

[2644 rows x 4 columns]

In [38]:
pd.get_dummies(df["SubscriptionStatus"],dtype=int)

      No  Yes
0      0    1
2      0    1
3      0    1
5      0    1
6      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2644 rows x 2 columns]

In [39]:
pd.get_dummies(df["Season"],dtype=int)

      Fall  Spring  Summer  Winter
0        0       0       0       1
2        0       1       0       0
3        0       1       0       0
5        0       0       1       0
6        1       0       0       0
...    ...     ...     ...     ...
2663     0       0       1       0
2664     0       1       0       0
2665     1       0       0       0
2666     0       0       1       0
2667     0       0       1       0

[2644 rows x 4 columns]

In [40]:
pd.get_dummies(df["DiscountApplied"],dtype=int)

      No  Yes
0      0    1
2      0    1
3      0    1
5      0    1
6      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2644 rows x 2 columns]

In [41]:
pd.get_dummies(df["PromoCodeUsed"],dtype=int)

      No  Yes
0      0    1
2      0    1
3      0    1
5      0    1
6      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2644 rows x 2 columns]

### Scaling

In [42]:
df.head(5)

,Age,ItemPurchased,Category,PurchaseAmount(USD),Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases
0,55.0,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
2,50.0,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,46.0,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.900391,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,63.0,Shirt,Clothing,85,Montana,M,Gray,Fall,3.199219,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly

In [43]:
df['Age'].mean()

44.10287443267776

In [44]:
df['Age'].median()

44.0

In [45]:
def normalization(x):
    n = (x-df["Age"].min())/(df["Age"].max()-df["Age"].min())
    return n
df["Age"].apply(normalization)

0       0.711538
2       0.615385
3       0.057692
5       0.538462
6       0.865385
          ...
2663    0.807692
2664    0.634615
2665    0.096154
2666    0.038462
2667    0.634615
Name: Age, Length: 2644, dtype: float64

In [47]:
df['PurchaseAmount(USD)'].mean()

59.55824508320726

In [48]:
df['PurchaseAmount(USD)'].median()

60.0

In [49]:
def normalization(x):
    n = (x-df["PurchaseAmount(USD)"].min())/(df["PurchaseAmount(USD)"].max()-df["PurchaseAmount(USD)"].min())
    return n
df["PurchaseAmount(USD)"].apply(normalization)

0       0.4125
2       0.6625
3       0.8750
5       0.0000
6       0.8125
         ...
2663    0.4750
2664    0.8000
2665    0.0125
2666    0.1875
2667    0.2875
Name: PurchaseAmount(USD), Length: 2644, dtype: float64

In [50]:
df['ReviewRating'].mean()

3.756

In [51]:
df['ReviewRating'].median()

3.8

In [52]:
def normalization(x):
    n = (x-df["ReviewRating"].min())/(df["ReviewRating"].max()-df["ReviewRating"].min())
    return n
df["ReviewRating"].apply(normalization)

0       0.239844
2       0.239844
3       0.400000
5       0.160156
6       0.279687
          ...
2663    0.320312
2664    0.560156
2665    0.560156
2666    0.679688
2667    0.840625
Name: ReviewRating, Length: 2644, dtype: float64

In [53]:
df['PreviousPurchases'].mean()

25.74735249621785

In [54]:
df['PreviousPurchases'].median()

26.0

In [55]:
def normalization(x):
    n = (x-df["PreviousPurchases"].min())/(df["PreviousPurchases"].max()-df["PreviousPurchases"].min())
    return n
df["PreviousPurchases"].apply(normalization)

0       0.265306
2       0.448980
3       0.979592
5       0.265306
6       0.979592
          ...
2663    0.489796
2664    0.265306
2665    0.265306
2666    0.918367
2667    0.530612
Name: PreviousPurchases, Length: 2644, dtype: float64