### Data Manipulation

1. Find all Statistic Measures
2. Which subject has highest average ?
3. What are the Student IDs who got more tham 80% GPA?
4. How many female students are there in the class?
5. What is the ratio of male students and female students?
6. What are the marks of male students in statistics ?
7. What is the ID of the class topper ?
8. What is the gender of probabilty topper?
9. Create Pivot Table for gender and class?
10. Which subject got least average marks.?
11. How many male and female students are there ?
12. How many female student are there from class A?
13. Which class has more strength ?
14. Sort the data as per algebra ?
15. How many students got exactly 64 marks from functional analysis?

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\m\DSpython\studens_data.csv")

In [3]:
df

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [5]:
# 1.Find all Statistic Measures

df.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

In [6]:
gpa = df['GPA']
gpa

0      73.47
1      71.22
2      74.56
3      72.89
4      70.11
       ...
100    88.34
101    89.84
102    88.82
103    86.60
104    93.71
Name: GPA, Length: 105, dtype: float64

In [7]:
gpa.mean()

82.95704761904761

In [8]:
gpa.median()

84.11

In [9]:
gpa.std()

6.053186529520807

In [10]:
gpa.var()

36.64106716117215

In [14]:
range1 = max(gpa) - min(gpa)
range1

30.21999999999999

In [15]:
q3 = np.percentile(gpa,75)
q3

87.3

In [16]:
q1 = np.percentile(gpa,25)
q1

79.34

In [17]:
IQR = q3 - q1
IQR

7.959999999999994

In [19]:
lower = q1 - (1.5 * IQR)
lower

67.4

In [20]:
upper = q3 + (1.5 * IQR)
upper

99.23999999999998

In [21]:
#Algebra
algebra = df['Algebra']
algebra

0      64
1      57
2      47
3      46
4      49
       ..
100    87
101    98
102    83
103    92
104    93
Name: Algebra, Length: 105, dtype: int64

In [22]:
range2 = max(algebra) - min(algebra)
range2

52

In [23]:
q3 = np.percentile(algebra,75)
q3

84.0

In [24]:
q1 = np.percentile(algebra,25)
q1

67.0

In [25]:
IQR = q3-q1
IQR

17.0

In [26]:
upper = q3 + (1.5 * IQR)
upper

109.5

In [27]:
lower = q1 -(1.5 * IQR)
lower

41.5

In [28]:
#Calculus1
calculus = df['Calculus1']

In [29]:
calculus

0      81
1      50
2      48
3      72
4      45
       ..
100    83
101    77
102    80
103    82
104    97
Name: Calculus1, Length: 105, dtype: int64

In [30]:
range2 = max(calculus) - min(calculus)
range2

62

In [32]:
q3 = np.percentile(calculus,75)
q3

80.0

In [33]:
q1 = np.percentile(calculus,25)
q1

64.0

In [34]:
IQR = q3 - q1
IQR

16.0

In [35]:
lower = q1 - (1.5 * IQR)
lower

40.0

In [36]:
upper = q3 + (1.5 * IQR)
upper

104.0

In [37]:
#Calculus2
cal = df['Calculus2']

In [38]:
cal

0      87
1      51
2      71
3      38
4      63
       ..
100    92
101    95
102    91
103    91
104    99
Name: Calculus2, Length: 105, dtype: int64

In [39]:
range2 = max(cal) - min(cal)
range2

82

In [40]:
q3 = np.percentile(cal,75)
q3

91.0

In [41]:
q1 = np.percentile(cal,25)
q1

71.0

In [42]:
IQR = q3 - q1
IQR

20.0

In [43]:
lower = q1 - (1.5 * IQR)
lower

41.0

In [44]:
upper = q3 + (1.5 * IQR)
upper

121.0

In [45]:
#Statistics
Statistics = df['Statistics']

In [46]:
Statistics

0       60
1       51
2       60
3       60
4       60
      ...
100     98
101     98
102     98
103     99
104    100
Name: Statistics, Length: 105, dtype: int64

In [47]:
range2 = max(Statistics) - min(Statistics)
range2

49

In [48]:
q3 = np.percentile(Statistics,75)
q3

92.0

In [49]:
q1 = np.percentile(Statistics,25)
q1

80.0

In [50]:
IQR = q3 - q1
IQR

12.0

In [51]:
lower = q1 - (1.5 * IQR)
lower

62.0

In [52]:
upper = q3 + (1.5 * IQR)
upper

110.0

In [53]:
#Probability
Prob = df['Probability']

In [55]:
Prob

0      74
1      55
2      61
3      29
4      66
       ..
100    93
101    96
102    93
103    94
104    97
Name: Probability, Length: 105, dtype: int64

In [56]:
range2 = max(Prob) - min(Prob)
range2

68

In [57]:
q3 = np.percentile(Prob,75)
q3

92.0

In [58]:
q1 = np.percentile(Prob,25)
q1

79.0

In [59]:
IQR = q3 - q1
IQR

13.0

In [60]:
lower = q1 - (1.5 * IQR)
lower

59.5

In [61]:
upper = q3 + (1.5 * IQR)
upper

111.5

In [62]:
#Measure
Measure = df['Measure']

In [63]:
Measure

0      71
1      62
2      68
3      54
4      66
       ..
100    86
101    88
102    95
103    82
104    90
Name: Measure, Length: 105, dtype: int64

In [64]:
range2 = max(Measure) - min(Measure)
range2

46

In [65]:
q3 = np.percentile(Measure,75)
q3

89.0

In [66]:
q1 = np.percentile(Measure,25)
q1

74.0

In [67]:
IQR = q3 - q1
IQR

15.0

In [68]:
lower = q1 - (1.5 * IQR)
lower

51.5

In [69]:
upper = q3 + (1.5 * IQR)
upper

111.5

In [70]:
#Functional_analysis
func = df['Functional_analysis']

In [71]:
func

0       60
1       61
2       64
3       51
4       61
      ...
100     90
101    100
102     71
103     78
104     90
Name: Functional_analysis, Length: 105, dtype: int64

In [72]:
range2 = max(func) - min(func)
range2

91

In [73]:
q3 = np.percentile(func,75)
q3

85.0

In [74]:
q1 = np.percentile(func,25)
q1

67.0

In [75]:
IQR = q3 - q1
IQR

18.0

In [76]:
lower = q1 - (1.5 * IQR)
lower

40.0

In [77]:
upper = q3 + (1.5 * IQR)
upper

112.0

In [78]:
df.columns

Index(['ID', 'class', 'gender', 'GPA', 'Algebra', 'Calculus1', 'Calculus2',
       'Statistics', 'Probability', 'Measure', 'Functional_analysis'],
      dtype='object')

In [79]:
df.head()

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61

In [80]:
df.tail()

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   105 non-null    int64
 1   class                105 non-null    object
 2   gender               105 non-null    object
 3   GPA                  105 non-null    float64
 4   Algebra              105 non-null    int64
 5   Calculus1            105 non-null    int64
 6   Calculus2            105 non-null    int64
 7   Statistics           105 non-null    int64
 8   Probability          105 non-null    int64
 9   Measure              105 non-null    int64
 10  Functional_analysis  105 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 9.2+ KB

In [83]:
df.shape

(105, 11)

In [85]:
# 2.Which subject has highest average ?

avg = df.loc[:,['Algebra','Calculus1','Calculus2','Statistics','Probability','Measure']].mean()
avg

Algebra        76.057143
Calculus1      71.961905
Calculus2      78.942857
Statistics     85.133333
Probability    83.876190
Measure        80.761905
dtype: float64

In [89]:
avg.idxmax()

'Statistics'

In [91]:
# 3.What are the Student IDs who got more tham 80% GPA?

df[df['GPA'] > 80]['ID']

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

In [98]:
# 4.How many female students are there in the class?

a = sum(df["gender"] ==  'female')
a

68

In [99]:
# 5.What is the ratio of male students and female students?

b = sum(df['gender'] == 'male')
b

37

In [100]:
print(a ,':', b)

68 : 37

In [102]:
# 6.What are the marks of male students in statistics ?

df.loc[df['gender'] == 'male',['Statistics']]

     Statistics
0            60
5            61
6            63
10           69
13           73
14           76
16           76
17           76
18           76
19           78
20           78
21           78
24           80
28           83
31           83
32           83
33           83
40           85
47           87
50           87
59           89
61           89
65           90
72           92
78           92
82           92
89           94
90           95
92           95
96           97
97           97
98           97
99           97
101          98
102          98
103          99
104         100

In [103]:
# 7.What is the ID of the class topper ?

c = df.loc[df["GPA"].argmax()]
c

ID                      1245
class                      A
gender                  male
GPA                    93.71
Algebra                   93
Calculus1                 97
Calculus2                 99
Statistics               100
Probability               97
Measure                   90
Functional_analysis       90
Name: 104, dtype: object

In [104]:
top = c['ID']
top

1245

In [106]:
# 8.What is the gender of probabilty topper?

d = df.loc[df['Probability'].argmax()]
d

ID                       1182
class                       B
gender                 female
GPA                     90.66
Algebra                    88
Calculus1                  78
Calculus2                  95
Statistics                 85
Probability                97
Measure                    97
Functional_analysis        99
Name: 41, dtype: object

In [107]:
topp = d['gender']
topp

'female'

In [109]:
# 9.Create Pivot Table for gender and class?

df.loc[:, ["gender", "class"]]

     gender class
0      male     A
1    female     A
2    female     A
3    female     A
4    female     A
..      ...   ...
100  female     A
101    male     B
102    male     B
103    male     A
104    male     A

[105 rows x 2 columns]

In [112]:
# 10.Which subject got least average marks.?

l = (df.loc[:,['Algebra','Calculus1','Calculus2','Statistics','Probability','Measure']].mean())
l

Algebra        76.057143
Calculus1      71.961905
Calculus2      78.942857
Statistics     85.133333
Probability    83.876190
Measure        80.761905
dtype: float64

In [114]:
l.idxmin()

'Calculus1'

In [117]:
# 11.How many male and female students are there ?

sum(df["gender"] == 'female' )  #total number of female

68

In [119]:
sum(df["gender"] == 'male')

37

In [123]:
# 12.How many female student are there from class A?

sum((df["class"] == 'A') & (df["gender"] == "female"))

48

In [124]:
# 13.Which class has more strength ?

df["class"].value_counts()

class
A    76
B    29
Name: count, dtype: int64

In [126]:
# 14.Sort the data as per algebra ?

df.sort_values("Algebra")

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

In [128]:
# 15.How many students got exactly 64 marks from functional analysis?

sum(df['Functional_analysis'] == 64)

8