In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r"C:\Users\m\DSpython\Clean.csv")

### Clean the data..i.e Missing values,Outliers,duplicates and type casting in best possible way.

In [6]:
df.head()

,Unnamed: 0.1,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,4,5,5.0,3.6,1.4,0,Iris-setosa

In [7]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [8]:
df.drop("Unnamed: 0.1",axis=1,inplace=True)

In [9]:
df.isna().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

In [10]:
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4             0  Iris-setosa
1   2            4.9           3.0            1.4             0  Iris-setosa
2   3            NaN           3.2            1.3             0  Iris-setosa
3   4            4.6           3.1            1.5             0  Iris-setosa
4   5            5.0           3.6            1.4             0  Iris-setosa

In [11]:
df['SepalLengthCm'].fillna(3.5,inplace = True)

In [12]:
df['SepalWidthCm'].fillna(3,inplace = True)

In [13]:
df['PetalLengthCm'].fillna(4.5,inplace = True)

In [16]:
df["Species"].fillna(df["Species"].mode()[0],inplace=True)

In [17]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### Outliers

In [18]:
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4             0  Iris-setosa
1   2            4.9           3.0            1.4             0  Iris-setosa
2   3            3.5           3.2            1.3             0  Iris-setosa
3   4            4.6           3.1            1.5             0  Iris-setosa
4   5            5.0           3.6            1.4             0  Iris-setosa

In [19]:
df[(df['SepalLengthCm']<0.5) | (df['SepalLengthCm']>8)] = df['SepalLengthCm'].median()

C:\Users\m\AppData\Local\Temp\ipykernel_12372\2386782448.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df[(df['SepalLengthCm']<0.5) | (df['SepalLengthCm']>8)] = df['SepalLengthCm'].median()

In [21]:
df[(df['SepalWidthCm']<0.5) | (df['SepalWidthCm']>5)] = df['SepalWidthCm'].median()

In [22]:
df[(df['PetalLengthCm']<0.5) | (df['PetalLengthCm']>7)] = df['PetalLengthCm'].median()

In [23]:
df[(df['PetalWidthCm']<0) | (df['PetalWidthCm']>2)] = df['PetalWidthCm'].median()

### Detecting the Duplicates

In [24]:
df.drop("Id",axis=1,inplace=True)

In [25]:
df.duplicated().sum()

22

In [26]:
df.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.0  Iris-setosa
1            4.9           3.0            1.4           0.0  Iris-setosa
2            3.5           3.2            1.3           0.0  Iris-setosa
3            4.6           3.1            1.5           0.0  Iris-setosa
4            5.0           3.6            1.4           0.0  Iris-setosa

In [27]:
df[df.duplicated()]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
17             5.1           3.5            1.4           0.0      Iris-setosa
34             4.9           3.1            1.5           0.0      Iris-setosa
37             4.9           3.1            1.5           0.0      Iris-setosa
42             3.5           3.2            1.3           0.0      Iris-setosa
45             4.8           3.0            1.4           0.0      Iris-setosa
95             1.0           1.0            1.0           1.0              1.0
97             1.0           1.0            1.0           1.0              1.0
117            1.0           1.0            1.0           1.0              1.0
121            1.0           1.0            1.0           1.0              1.0
132            6.4           2.8            5.6           2.0   Iris-virginica
142            5.8           2.7            5.1           1.0   Iris-virginica
144            6.7           3.3            5.7           2.0   Iris-virginica
150            6.1           2.9            4.7           1.0  Iris-versicolor
151            5.6           2.9            3.6           1.0  Iris-versicolor
152            6.7           3.1            4.4           1.0  Iris-versicolor
153            5.6           3.0            4.5           1.0  Iris-versicolor
154            5.7           2.6            3.5           1.0  Iris-versicolor
155            5.5           2.4            3.8           1.0  Iris-versicolor
156            5.4           3.9            1.7           0.0      Iris-setosa
157            4.6           3.4            1.4           0.0      Iris-setosa
158            6.4           3.2            5.3           2.0   Iris-virginica
159            6.5           3.0            5.5           1.0   Iris-virginica

In [28]:
df.drop_duplicates(keep="first",inplace=True)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.0  Iris-setosa
1            4.9           3.0            1.4           0.0  Iris-setosa
2            3.5           3.2            1.3           0.0  Iris-setosa
3            4.6           3.1            1.5           0.0  Iris-setosa
4            5.0           3.6            1.4           0.0  Iris-setosa

In [29]:
df.duplicated().sum()

0

### Type Casting

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  138 non-null    float64
 1   SepalWidthCm   138 non-null    float64
 2   PetalLengthCm  138 non-null    float64
 3   PetalWidthCm   138 non-null    float64
 4   Species        138 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.5+ KB

In [31]:
df['SepalLengthCm'] = df['SepalLengthCm'].astype("float16")

In [32]:
df['SepalWidthCm'] = df['SepalWidthCm'].astype("float16")

In [33]:
df['PetalLengthCm'] = df['PetalLengthCm'].astype("float16")

In [34]:
df['PetalWidthCm'] = df['PetalWidthCm'].astype("float16")

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  138 non-null    float16
 1   SepalWidthCm   138 non-null    float16
 2   PetalLengthCm  138 non-null    float16
 3   PetalWidthCm   138 non-null    float16
 4   Species        138 non-null    object
dtypes: float16(4), object(1)
memory usage: 3.2+ KB