1. Ask user to  enter a  website name and check whether it is valid or not(True/False)


2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`
   
   
3. Replace `Science` with `Analysis` in the above output.


4. `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case
    
    
5. What is the index number of 'World' in above string.


6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.


7. How many times 'a' is `repeated` in above string.

8.

* Ask user to  enter a  website name and check whether it is valid or not(True/False)

In [1]:
name = input("Enter any website name: ")
(name.startswith("www")) and (name.endswith(".com"))

Enter any website name: www.insta.com

True

** name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`

In [2]:
name = "Innomatics"
course = "Data Science"
print(f"Hello world Iam learning {course} in {name}")

Hello world Iam learning Data Science in Innomatics

In [3]:
print("Hello world Iam learning {0} in {1}".format(name,course))

Hello world Iam learning Innomatics in Data Science

In [4]:
print("Hello world Iam learning",course,"in",name)

Hello world Iam learning Data Science in Innomatics

* Replace `Science` with `Analysis` in the above output.

In [5]:
print("Hello World I am learning Data Science in Innomatics")

Hello World I am learning Data Science in Innomatics

In [6]:
course.replace('Science','Analysis')

'Data Analysis'

In [7]:
a= "Hello World I am learning Data Science in Innomatics"

In [8]:
a.replace('Science','Analysis')

'Hello World I am learning Data Analysis in Innomatics'

* `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case

In [9]:
string = '     Hello World I am learning Python in Innomatics   '

In [10]:
len(string)

54

In [11]:
string[31:37]

'Python'

In [12]:
string.strip()

'Hello World I am learning Python in Innomatics'

In [13]:
string.upper()

'     HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS   '

* What is the index number of 'World' in above string.

In [14]:
string.index("World")

11

* Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.

In [15]:
string.split()

['Hello', 'World', 'I', 'am', 'learning', 'Python', 'in', 'Innomatics']

In [16]:
var = string.split()

In [17]:
type(var)

list

In [18]:
var

['Hello', 'World', 'I', 'am', 'learning', 'Python', 'in', 'Innomatics']

* How many times 'a' is `repeated` in above string.

In [19]:
string.count('a')

3