In [23]:
list1 = [1,2,3,4,5,4.5,5.4,6.4,7.8,"Raheem","Mansoor","Adnan"] 
def func(n):
    if type(n) == float :
        return n
    
list(filter(func,list1))

[4.5, 5.4, 6.4, 7.8]

In [24]:
list1 = [1,2,3,4,5,4.5,5.4,6.4,7.8,"Raheem","Mansoor","Adnan"] 
def func(n):
    if type(n) == str :
        return n
    
list(filter(func,list1))

['Raheem', 'Mansoor', 'Adnan']

In [26]:
list1 = [1,2,3,4,5,4.5,5.4,6.4,7.8,"Raheem","Mansoor","Adnan"]
def func(n):
    if type(n) == int :
        return "Integer"
    elif type(n) == str :
        return "String"
    else :
        return "Float"
    
    
    
list(map(func,list1))

['Integer',
 'Integer',
 'Integer',
 'Integer',
 'Integer',
 'Float',
 'Float',
 'Float',
 'Float',
 'String',
 'String',
 'String']

#### Create a lambda function that takes two arguments and returns their sum.
* Create another lambda function that takes a single argument and returns its square.
* Use the lambda functions to calculate the sum and square of various numbers and print the results.
#### Define a list of integers.
* Use the filter function to create a new list that contains only the even numbers from the original list.
* Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.
* Print both filtered lists.
#### Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).
* Use the map function to convert each string to an integer and store the result in a new list.
* Use the map function again to square each integer in the new list and store the result in another new list.
* Print both new lists.
#### Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]
* Use the filter function to create a new list that contains only the people who are older than 25.
* Use the map function to create a new list that contains the names of the filtered people.
* Print the list of names.
#### Create a program that reads a list of numbers from the user (you can use the input function for this).
*Use map and filter functions to perform the following operations:
*Square each number.
* Filter out numbers that are not divisible by 3.
* Print the result.

In [4]:
#Q1.
a = lambda *n : sum(n)

In [5]:
a(4,6)

10

In [6]:
b= lambda x: x*x
b(4)

16

In [8]:
c = lambda *n : sum(n) 
d = lambda n : n**2

In [9]:
print(c(4,6))
print(d(5))

10
25

In [10]:
#Q2.
def list1(n) :
    if n%2==0 :
        return n
list2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
list(filter(list1,list2))

[2, 4, 6, 8, 10, 12, 14, 16]

In [17]:
list3 = [1,2,3,5,7,9,10,12,15,18,20,25,30,40,50]

In [18]:
def list4(n) :
    
    if n>10 :
        return n
list(filter(list4,list3))

[12, 15, 18, 20, 25, 30, 40, 50]

In [19]:
#Q3.
def Str(n):
    if list1[0] == int(n):
        return n
list1 = ["1","2","3","4"]
new_list = list(map(int,list1))
new_list

[1, 2, 3, 4]

In [20]:
def squ(n):
    return n*n
square_list = list(map(squ,new_list))
square_list

[1, 4, 9, 16]

In [21]:
#Q4.
def dict1(n):
    if n["age"] > 25:
        return n
Names = [{"Name" : "Raheem","age" : 35},{"Name" : "Adnan","age": 30},{"Name" : "Mansoor","age": 25},{"Name" : "Satish","age": 20}]
b = list(filter(dict1,Names))
b

[{'Name': 'Raheem', 'age': 35}, {'Name': 'Adnan', 'age': 30}]

In [22]:
def dict1(n):
    
    return {"Name" : n["Name"]}
list(map(dict1,b))

[{'Name': 'Raheem'}, {'Name': 'Adnan'}]

In [28]:
#Q5.
def squ(n) :
    return n*n
list1 = []

num = int(input("How many number you want to enter: "))

for i in range(0,num+1) :
    num1 = int(input("Enter a number: "))
    list1.append(num1)
print("Original List : ",list1)
a = list(map(squ,list1))
print("Square of each number: ",a)
def divide(n):
    return n%3!=0
b = list(filter(divide,list1))
print("Numbers that are not divisible by3 : ",b)

How many number you want to enter: 2
Enter a number: 4
Enter a number: 6
Enter a number: 8
Original List :  [4, 6, 8]
Square of each number:  [16, 36, 64]
Numbers that are not divisible by3 :  [4, 8]