

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

## Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

In [2]:
tuple= ("mango","apple","banana","kiwi","dragon","orange")
tuple

('mango', 'apple', 'banana', 'kiwi', 'dragon', 'orange')

## Assignment Task 2: Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [3]:
tup1= ("mango","apple","banana")
tup2= ("salmankhan","shahrukhkhan","amairkhan")

In [7]:
tup3 = tup1 + tup2

In [8]:
tup3

('mango', 'apple', 'banana', 'salmankhan', 'shahrukhkhan', 'amairkhan')

In [9]:
len(tup3)

6

## Assignment Task 3: Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.

In [38]:
set1= {2,4,6,8,10}

In [39]:
print(set1)

{2, 4, 6, 8, 10}

## Assignment Task 4: Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [40]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,0}

In [41]:
set1.intersection(set2)

{4, 5}

In [42]:
set1.difference(set2)

{1, 2, 3}

In [43]:
set1.union(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

## Assignment Task 5: Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

In [1]:
tup=(1,2,3,4,5,6)

In [2]:
a = set(tup)

In [3]:
a

{1, 2, 3, 4, 5, 6}

In [5]:
max(a)

6

In [6]:
min(a)

1

## Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

#### Tuples are immutable because we cant modify it once we create a tuple.

In [1]:
tup=(1,3,4,5)
tup[1]=2

TypeError: 'tuple' object does not support item assignment

## Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

In [2]:
op= {1,2,3,4,5}

In [5]:
op.add(6)

In [6]:
op

{1, 2, 3, 4, 5, 6}

In [7]:
op.remove(3)

In [8]:
op

{1, 2, 4, 5, 6}

In [10]:
4 in op

True

In [11]:
len(op)

5

## Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

In [12]:
slic= (1,2,3,4,5,6,7,8,9,0)

In [13]:
slic[3:8]

(4, 5, 6, 7, 8)

## Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [14]:
n =[1,2,3,4,3,5,6,9,7,8,9,1,3,4]

In [15]:
s= set(n)

In [16]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
dup= len(n)-len(s)
dup

5

## Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [20]:
frnd_movies= ("Murder","Jaanidushman","Sultan","DDLJ","Kgf")
my_movies= {"Ekthatiger","Sultan","Kick","Kgf","Tigerzindahai"}

In [21]:
common_movies = set(frnd_movies).intersection(my_movies)
common_movies

{'Kgf', 'Sultan'}